a{
    color: white;
}
ul,ol{
    list-style-type: none;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding : 36px 72px
}
.block{
    background-color: black;
    margin: 72px 72px !important
}
.base-text{
    font-family: 'Courier New', Courier, monospace;
    color: white
}
.row:after{
    content : "";
    display: table !important;
    clear: both
}
.column{
    float: left;
    width: 50%
}
.image-prep{
    vertical-align: middle;
    max-width:100% !important;
    height:auto
}
.center{
    text-align: center;
    width: auto
}
.right{
    display: inline-block;
    text-align: right;
    align-items: right
}
.left{
    display: inline-block;
    text-align: left;
    align-items: left
}
.textJumbo{
    font-size: 72px
}
.textXXLarge{
    font-size: xx-large
}
.textXLarge{
    font-size: x-large
}
.textLarge{
    font-size: large
}
.textMedium{
    font-size: medium
}
.textSmall{
    font-size: small
}
.imgRound{
    border-image: fill
}
.padding-small{
    padding: 4px 8px
}
.padding{
    padding: 8px 16px
}
.padding-large{
    padding: 16px 32px
}
.twothird{
    width: 66.666667% !important
}
.half{
    width: 49.999999% !important
}
.third{
    width: 33.333333% !important
}
.quarter{
    width: 24.999999% !important
}
.small{
    width: 16.666666% !important
}
.content{
    margin-left:auto;
    margin-right:auto;
    max-width:980px
}
.justify{
    text-align:justify
}
.spread{
    letter-spacing: 4px;
}
.white{
    color: white;
    background-color: white !important;
}
.gray{
    color: grey;
    background-color: grey !important;
}
.lightgrey{
    color: lightgrey;
    background-color: lightgrey!important;
}
.lightblue{
    color: lightblue;
    background-color: lightblue !important;
}
.coral{
    color: coral;
    background-color: coral!important;
}
.red{
    color : red;
    background-color: red!important;
}
.blue{
    color: blue;
    background-color: blue!important;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin-left:500px
}
.modal-title{
    color:black;
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}